<h1 class= "title-pet">Pet Love</h1>


<img src="images/pet-love.png" class="login-dogpic" alt="dog and friend">

<form action="/login" method="POST" class="login-form">
  <div class="field">
    <input type="text" placeholder="Username" class="label-form" name="username">
  </div>
  <div class="field">
    <input type="password" placeholder="Password" class="label-form" name="password">
  </div>

    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}

  <div class="field-button">
    <input class="button" type="submit" value="Log In">
  </div>
</form>

  <p class="account-message">
    Dont have an account?
    <a href="/signup">Signup</a>
  </p>
