<h1 class= "title-pet">Pet Love</h1>

<img src="images/pet-love.png" class="login-dogpic" alt="dog and friend">

<div class="pre-login">
  <a class="pre-login-button" href="/login">
    <div class="field-button">
      <p class="button-prelogin">Login</p>
    </div>
  </a>

  <a class="pre-login-button" href="/signup">
    <div class="field-button">
      <p class="button-prelogin-bottom">Sign Up</p>
    </div>
  </a>
</div>



