<!-- views/auth/signup.hbs -->
<h1 class= "title-pet">Signup</h1>
<img src="images/pet-love.png" class="login-dogpic" alt="dog and friend">

<form action="/signup" method="POST" class="login-form">
  <div class="field">
    <input type="text" placeholder="Username" class="label-form-signup" name="username">
  </div>
  <div class="field">
    <input type="email" placeholder="Email" class="label-form-signup" name="email">
  </div>
  <div class="field">
    <input type="password" placeholder="Password" class="label-form-signup" name="password">
  </div>
    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}
  <div class="field-button-signup">
    <input class="button" type="submit" value="Create Account">
  </div>
  <div class="bottom-message">
  <p>Already have an account?
    <a class="bottom-button" href="/login">Login</a>
  </p>
  </div>
</form>
