{{>menu}}

<h1>Add Pet</h1>

<form action="/pet/add" method="POST" class="login-form" enctype="multipart/form-data">

  <div class="field">
    <input type="text" placeholder="Petname" class="label-form" name="petName">
  </div>

  <div class="field">
    <input type="number" placeholder="Age" class="label-form" name="age">
  </div>

  <div class="field">
    <input type="text" placeholder="Description" class="label-form" name="description">
  </div>

  <div class="field">
  <label>Size</label>
    <select name="size">
      <option value="ExtraSmall">ExtraSmall</option>
      <option value="Small"> Small</option>
      <option value="Medium">Medium</option>
      <option value="Large">Large</option>
      <option value="ExtraLarge">ExtraLarge</option>
  </select>
</div>

<p>Please select the type of your pet:</p>
  <div>

    <input type="radio" id="Cat"
     name="type" value="Cat">
    <label for="cat">Cat</label>

    <input type="radio" id="Dog"
     name="type" value="Dog">
    <label for="Dog">Dog</label>

  </div>

  <input type='file' name='picture' />

    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}

  <div class="field-button">
    <input class="button" type="submit" value="add pet">
  </div>


</form>
