{{>menu}}
<div class="user-profile">
  <h1 class="my-name">{{username}}</h1>
  {{#if pets}}
    <h4 class="user-subtitles">Your Pet:</h4>
  {{/if}}

  {{#each pets}}
  {{>petcard}}
  <form action="/user-profile/delete/{{_id}}" method="POST">
    <button class="button btn-profile" type="submit">DELETE PET</button>
  </form>

  {{#unless isPending}}
    <h4 class="user-subtitles">Request pending!</h4>
    <p>Do you wannt to accept?</p>
    <div class="confirm">
      <form action="pet/user-profile/accept/{{_id}}" method="POST">
        <button class="button btn-profile confirm" type="submit">YES!</button>
      </form>
      <form action="pet/user-profile/decline/{{_id}}" method="POST">
          <button class="button btn-profile confirm no" type="submit">NO!</button>
      </form>
    </div>
  {{/unless}}

  {{#unless isAvailable}}
    <h1>TESTE</h1>
  {{/unless}}

  {{/each}}
</div>
