body {
  padding: 20px;
  margin: 0;
  font-family: 'Fredoka One', cursive;
}

.title-pet {
  text-align: center;
  font-size: 5rem;
  color: #707070;
}

.login-dogpic {
  width: 100%;
}

.login-form {
  text-align: center;
  margin-top: 10%;
}

.field {
  margin: 0 25px;
}

.label-form {
  font-size: 90px;
  color: #A7A7A7;
  border-style: hidden;
  border-bottom: 1px solid black;
}

.field-button {
  margin-top: 40px;
}

.button {
  color: white;
  font-size: 2rem;
  background: linear-gradient(180deg, rgba(255,57,128,1) 0%, rgba(255,91,91,1) 100%);
  border-radius: 40px;
  padding: 20px 122px;
}

input::placeholder {
  font-size: 2rem;
}

a {
  color: #00B7FF;
}
