
.label-form {
  font-size: 90px;
  color: #A7A7A7;
}

.title-pet {
  text-align: center;
  font-size: 110px;
  color: #707070;
}
.login-dogpic {
  background-image: url(/public/images/dogandfamily.png)
}

body {
  font-family: 'Fredoka One', cursive;
}

a {
  color: #00B7FF;
}
